parameters:
    level: max
    paths:
        - src
    autoload_files:
        - vendor/autoload.php

    checkMissingIterableValueType: false
    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: true
    reportUnmatchedIgnoredErrorsDepth: 2
